@import "custom-fonts.css";

body {
  margin-top: 0;
}

.header-container {
  height: 45px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #f5f5f5;
  align-items: center
}

.left-side-header {
  flex: 0 1 auto;
  display: flex;
}

.left-side-header > * {
  /* border: 1px solid grey; */
}


.logo-container {
  flex: 0 1 auto;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.logo-container > * {
  padding-right: 10px
}

.logo-container img {
  width: 35px;
  height: 35px;
  border-radius: 65%;
}

.logo-image-container {
  display: inline-block;

}

.logo-text {
  font-family: 'anothernightoutmedium';
  font-weight:normal;
  font-style:normal;
  display: inline-block;
  

}

.popular-dropdown {
  flex: 0 1 auto;
  align-items: center;

  display: flex;
  flex-flow: row nowrap;

}



.popular-dropdown img {
  width: 15px;
  height: 15px;
}

.popular-dropdown > * {
  flex: 1 1 auto;
  padding-left: 10px;
}

.popular-dropdown :first-child {
  flex: 0 1 auto;
}

.popular-dropdown :last-child  {
  padding-right: 5px;
  /* flex: 1 1 auto; */

}

.last-img {
  display: flex;
  justify-content: flex-end
}

.drop-down {
  width: 130px;
}



.red {
  color: red;
}

.search {
  flex: 1 1 auto;

} 

.search input {
  width: 510px;
  height: 25px;
  margin: 5px 5px 5px 13px;
  /* font-weight: bold; */
  font-size: 0.9em;
  border: none;
  background: #f5f5f5
}


.right-side-header {
  /* width: 35%; */
  flex: 1 1 auto;
  display: flex;
  
}

.right-side-header section {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  
}

.right-side-header section:first-child {
  display: flex;
  align-items: center
}

.btn-group img{
  width: 16px;
  height: 16px;
}

.sm-btn {
  width: 16px;
  height: 16px;
  padding: 8px;
  border-radius: 5%;
  line-height: 16px;
}

.lg-btn {
  width: 86px;
  height: 24px;
  padding: 3px 16px;
  border-radius: 6%;
  margin: 0 5px;
  line-height: 24px;
  text-align: center;
  
}

.border-blue {
  border: 1px solid rgb(0, 121, 211);
}

.background-blue {
  background: rgb(0, 121, 211);
}

.blue {
  color: rgb(0, 121, 211);
}

.white {
  color: white;
}

.btn-group {
  margin: 0 10px;
}

.btn-group span{
  margin-right: 10px;
}

hr {
  width: 0px;
  height: 60%;
  border: 1px solid #F5F5F5;
}
.account img {
  padding: 0 5px;
}

.account :first-child img{
  width: 20px;
  height: 20px;
}

.account :last-child img{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.account-btn-group {
  font-size: 13px;
}

.view-container {
  display: flex;
  /* justify-content: center; */
}

.empty {
  width: 220px;
  /* height: 100px; */
}

.view {
  display: flex;
  align-items: center;
  border-right: 1px solid #F5F5F5;

}

.view img {
  width: 20px;
  padding-right: 5px
}

.font-10px {
  font-size: 10px;
}

.font-13px {
  font-size: 13px;
}

.sort {
  display: flex;
  align-items: center;
  line-height: 34px;
  font-weight: bold;
}

.view-container * {
  /* padding-right: 5px */
}

.view-container div {
  padding: 0 5px;
}

.width-20px {
  width: 20px;
}

.width-8px {
  width: 8px;
}

.sort div {
  padding: 0 5px
}

.sort span {
  color: rgb(0, 121, 211)
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main section {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
  border: 1px solid black
}

.votes {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  align-items: center;
  flex: 0
}

.article header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.article h5 {
  margin: 0
}

.backgnd-grey {
  background: grey;
}

.color-grey{
  color: #f5f5f5
}

.article button{
  margin-left: auto;
}

.color-blue {
  color:RGB(133, 181, 229)
}

.article footer {
  line-height: 50px;
  display: flex;
  justify-content: flex-left;
  align-items: center
}

.article footer > span {
  padding-right: 10px
}